form{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 5%;
    text-align: center;
}
button{
    margin-right: 150px;
    background-color: green;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}
input {
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid black;
}
h1{
    font-size: 42px;
}
h3 a{
    text-decoration: none;
    margin-right: 100px;
}
.main{
    font-size: 52px;
    font-family: Jokerman;
}